<!DOCTYPE html>
<html>
<head>
    <title>Layout 2</title>
</head>
<body>
   <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <h1>Product is Created with Name : <%= formData.name %></h1>
            </div>
        </div>
   </div>
</body>
</html>
